<phpunit bootstrap="./vendor/autoload.php"
    stopOnFailure="true"
    colors="true"
>
  <testsuites>
      <testsuite name="Test Suite">
          <directory suffix="Test.php">./tests</directory>
      </testsuite>
  </testsuites>
  <filter>
      <whitelist>
          <directory suffix=".php">./src</directory>
          <exclude></exclude>
      </whitelist>
  </filter>
  <logging>
      <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
</phpunit>
